<%- layout('layouts/main.ejs') %>
<h1 class="mt-4 text-center">HOME_</h1>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Login System with NodeJs</h5>
        <small>x days ago</small>
      </div>
      <p class="mb-1">A simple and minimalistic register and login system application fully functional.</p>
      <small>VladimirG_</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Technologies and tools used to build this..</h5>
        <small class="text-muted">x days ago</small>
      </div>
      <ul>
          <li>NodeJs</li>
          <li>JavaScript</li>
          <li>Passport</li>
          <li>Bcrypt</li>
          <li>MongoDB</li>
          <li>Ejs</li>
          <li>Bootstrap</li>
          <li>connect-flash</li>
      </ul>
      <p class="mb-1">Made with love and passion..</p>
      <small class="text-muted">VladimirG_</small>
    </a>
  </div>