<%- layout('layouts/main.ejs') %>
<form class="text-center" action="/signin" method="POST">
    <fieldset><br><br>
      <legend>Sign In</legend>
      <div class="form-group text-center">
        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>

        <div class="row d-flex justify-content-center">
        <input type="email" name="email" class="form-control w-25" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>

        <div class="row d-flex justify-content-center">
        <input type="password" name="password" class="form-control w-25" id="exampleInputPassword1" placeholder="Password">
        </div>
        </div> 
        
      </fieldset><br><br>
      <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
      </form>
    